.message {
    position: relative;
    top: -12px;
    display: inline-block;        
    margin: 10px;
    border: solid 1px;
    padding: 8px 15px;
    width: 60%;
    border-radius: 30px;
}

.ava {
    display: inline-block;
}

.text {
    margin: 15px 10px;
}